# Assumes that prereqs have been met and that binaries are available.

    - name: rpctest (1:1)
      shell: 'cluster-validation/pre-install/rpctest -client +10000 {{hostvars[item].ansible_fqdn}} | tail -1 | sed -e "s/[ :/A-Za-z#]//g"'
      with_items: "{{groups.cluster}}"
      when: "'{{inventory_hostname}}' != '{{item}}'"

    - name: rpctest (1:n)
      shell: 'cluster-validation/pre-install/rpctest -client +10000 {% for host in groups.cluster %}{% if "{{host}}" != "{{inventory_hostname}}" %}{{hostvars[host].ansible_fqdn}}{% if not loop.last %},{% endif %}{% endif %}{% endfor %} | tail -1 | sed -e "s/[ :/A-Za-z#]//g"'

    - name: run fio on mapr disks
      become: True
      become_user: root
      command: ./fio --name=job1 --size 4g --bs 1m --filename {{mapr_disks|join(':')}} --rw=write --name=job2 --size 4g --bs 1m --filename {{mapr_disks|join(':')}}  --output-format=json
      when: destructive_tests_ok is defined and destructive_tests_ok

    - name: Triad memory throughput test
      shell: "cluster-validation/pre-install/memory-test.sh | egrep '^Triad' | awk '{ printf \"{ \"triad_throughput_MB\": %f }\", $2  }'"
